.errorMessage {
  font-size: 50px;
  color: red;
}

.errorImage {
  width: 30%;
}

.errorDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
