* {
  text-decoration: none;
}

h1 {
  font-family: "Cormorant SC", serif;
  color: black;
  font-size: 4em;
  /* margin-bottom: 500%; */
}
h1:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.8s;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}

.nav-bar {
  height: 15vh;
  background-color: #f6f6f6;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
