.detailCards {
  background-image: url(../../images/triangles.jpeg);
  background-repeat: repeat;
}

.detail-drink-card {
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats {
  background: #f6f6f6;
  border: 1.3em solid white;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
  margin-top: 3.7rem;
  padding-left: 1.5em;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.detailTitle {
  font-size: 2.5em;
  margin-bottom: 0%;
  text-align: center;
}

.detail-drink-image {
  border: 1.3em solid white;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
  margin-top: 3.7rem;
  width: 30vw;
}

.ingredients {
  display: flex;
  flex-direction: column;
  height: 5vh;
}

.ingredientsTitle,
.preparationTitle {
  font-size: 2em;
}
