
.detailCards {
    background-image:url(../../images/triangles.jpeg);
    background-repeat: repeat;
}

.detail-drink-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.detailTitle {
    grid-area: 1 / 2 / 2 / 4;
    font-size: 80px;;
}

.detailTitle:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: black;
    width: 50%;
    margin-left: 15px;
    top: 25%;
}

.detail-drink-image {
    grid-area: 2 / 2 / 7 / 4;
    border: 20px solid white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    height: 70%;
    width: 90%;
    margin-top:0%
}

.ingredients {
    background-color: #F6F6F6;
    /* border: 2px solid black; */
    grid-area: 2 / 4 / 4 / 4;
    border: 20px solid white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    height: 30%;
    width: 70%;
    padding: 20%;
}

.ingredientsTitle, .preparationTitle {
    font-size: xx-large;
}

.instructions {
    background-color: #F6F6F6;
    grid-area: 4 / 4 / 7 / 6;
    border: 20px solid white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    height: 30%;
    width: 70%;
    padding: 20%;
}



